<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt
        repudiandae officiis vitae aut alias sequi nam, eveniet eum minima fugit
        saepe eos magni quaerat.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt
        repudiandae officiis vitae aut alias sequi nam, eveniet eum minima fugit
        saepe eos magni quaerat.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt
        repudiandae officiis vitae aut alias sequi nam, eveniet eum minima fugit
        saepe eos magni quaerat.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
